<a href="https://colab.research.google.com/github/tararzona2006/conversor_temperatura/blob/main/ejercicio_for_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# instruccion repetitiva for

In [ ]:
# ejercicio 1: mostrar los numeros del 1 al 10 , sin usar instrucciones repetitivas
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

In [ ]:
# Ejercicio 2:mostrar los numeros del 1al 10 usando la instruccion  while

contador = 1
print(contador)
while contador <10:
  #contador = contador + 1
  contador +=1
  print(contador)

In [ ]:
#ejfercicio 3: mostrarlos numeros del 1 al 10, usando la instruccion for y una lista iterable
lista = [1,2,3,4,5,6,7,8,9,10]
for i in lista:
   print(i)

In [ ]:
#ejercicio 4:mostar los numeros del 1 al 10, usando la instruccion for y la funcion range

for i in range(1,11):
  print(i)

In [ ]:
# ejercicio 5:mostar una frase 10 veces ,usando la instruccion for y una lista.

lista = [1,2,3,4,5,6,7,8,9,10]
for i in lista:
   print(f"{i}sistemas la mejor")

In [ ]:
# Ejercicio  6. mostrar la silaba inicial de los dias de la semana usando for y una lista con la silaba inicial de los dia de la semana

dias_semana = ["lu","ma","mi","ju","vi","sa","do"]
for i in dias_semana:
  print(i)

In [ ]:
#Ejercicio 7: mostar una lista de distintos tipos de datos,usando for

lista = [1,3,4,9,True, "andres", 8, "guanenta"]
for i in lista:
  print(i)

In [ ]:
#ejercicio 8:ingresar su nombre mostarlo letra a letra,usando for
nombre = input("digite su nombre: ")
for letra in nombre:
  print(letra)

In [ ]:
# ejercicio 9: ingrese su nombre y mostarlo letra a letra,usando for,ala vocal e

nombre = input("digite su nombre: ")
for letra in nombre:
  if letra == "e":
    print("*")
  else:
    print(letra)

In [ ]:
# Ejercicio 10: ingresar su nombre y mostralo letra a letra en mayuscula usando for

nombre = input("digite su nombre: ")
for letra in nombre:
  print(letra.upper())

In [ ]:
# Ejercicio 11: 

print("muestra los numeros del 0 al 9")
for i in range(10):
  print(i)

print("numeros del 1 al 10")
for i in range(1,11):
    print(i)

print("10 veces la frase")
for i in range(10):
  print("sistemas la mejor")

print("10 veces la frase i = ")
for i in range(10):
  print("i =" + str(i))

print("10 veces la frase i = ")
for i in range(10):
  print(f" i = {i}")

print("rango del 7 al 18, incrementando de 4 en 4")
for i in range(7,19,4):
  print(i)

print("convierte rango en lista a, y la muestra")
a = list(range(1000))
print(a)

EJERCICIOS

1. dada la siguiente lista de numeros,[20,21,30,41,50,51,2021] mostrar en pantalla solo los que no termina en 1.
2. mostrar 1000 veces la palabra "programacion"
3. del conjuntode cadenas ["E","F","M","A"]que corresponde alas iniciales de primeros cuatro meses del año,mostar el nombre completo de dichos meses
4. leer un texto y determinar cuantas veces dicho texto contiene cada una de las vocales en minuscula o en mayuscula.

In [ ]:
# punto 1:

numeros = [20, 21, 30, 41,50,51, 201]
for numero in numeros:
    if numero % 10 == 0:
        print(numero)

In [ ]:
# punto 2:

print("1000 veces la frase")
for i in range(1000):
  print("programacion")

In [ ]:
# punto 3:

list = ["E", "F", "M", "A"]
meses_año = ["Enero","Febrero", "Marzo", "Abril"] 
E = "Enero"
F = "Febrero"
M = "Marzo"
A = "Abril"
for i in meses_año:
  print(i)

In [41]:
# punto 4:

texto = "Este es un ejemplo de texto para contar vocales"
vocales = "AEIOUaeiou"  # todas las vocales, en mayúsculas y minúsculas
contador = 0

for letra in texto:
    if letra in vocales:
        contador += 1

print("El texto contiene", contador, "vocales")

El texto contiene 17 vocales